<h1> Food Tracker <h1>
<% @food.each do |item| %>
<table>
    <tr>
        <th> Name <th>
        <th> Category <th>
        <th> Expiration Date <th>
    </tr>
    <tr>
        <td><%= item.name %></td>
        <td><%= item.category %></td>
        <td><%= item.expiration_date %></td>
    </tr>
</table>
<% end %>
